@*<div class="row">
    <div class="col-sm-12">
        <h3 class="panel-title font-18">Реестр аннулированных охотничьих билетов</h3>
    </div>
</div>*@
<div class="card-box m-t-10 p-t-10 p-b-10">
    @using (Ajax.BeginForm("PartialTableReportHuntingLicCancelledReestr", "Report", new AjaxOptions { UpdateTargetId = "reportHuntingLicCancelledReestr", LoadingElementId = "loadingAjax" }, new { @class = "form-horizontal" }))
    {
        <div class="collapse in" id="collapseExample" style="">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-actions m-b-0">
                        <div class="row p-l-r-10 m-b-10 m-t-10">
                            <div class="col-sm-4">
                                <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                                <div class="input-daterange input-group" id="date-range">
                                    <input class="form-control input-sm required" id="dateStart" name="dateStart" placeholder="с" type="text" value="">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                    <input class="form-control input-sm required" id="dateStop" name="dateStop" placeholder="по" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-t-10 m-b-10" />
        </div>


        <div class="row">
            <a href="#" class="collapse-toggle__ctr collapse-toggle__ctr_utility col-sm-4" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <!-- Collapsed state -->
                <span class="collapse-toggle__state _collapsed">
                    <i class="ti-arrow-circle-down"></i>
                    <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Развернуть поиск</span>
                </span> <!-- Active (open) state -->
                <span class="collapse-toggle__state _active">
                    <i class="ti-arrow-circle-up"></i>
                    <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Свернуть поиск</span>
                </span>
                <span class=" m-l-15">Найдено записей:</span><span id="report_count" class="p-l-r-10" style="color:#1d8a71">0</span>
            </a>
            <div class="col-sm-8 text-right action-btns">
                <button type="submit" class="btn btn-default waves-effect waves-light btn-sm m-r-5">
                    <i class="ion-ios7-search"></i>
                    Просмотр
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light btn-sm" data-toggle="dropdown" aria-expanded="false"> Действия <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a onclick="printTable()"><i class="fa fa-print m-r-5"></i> Печать</a></li>
                        <li><a onclick="downloadTableExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Скачать в Excel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Content/plugins/print/printThis.js"></script>
<script>
    $(document).ready(function () {
        $('#date-range').datepicker({ format: 'dd.mm.yyyy', autoclose: true, language: 'ru', orientation: 'bottom left' });
    });

    function printTable() {
        var form = $('.form-horizontal').serialize();
        var url = '@Url.Action("PartialPrintReportHuntingLicCancelledReestr", "Report")';
        printAjax(url, form);
    }

    function downloadTableExcel() {
        location.href = '@Url.Action("DownloadExcelReestrHuntingLicCancelled", "Report")?' + $('.form-horizontal').serialize();
    }
</script>
