
@{
    ViewBag.Title = "Справочники";
    Layout = "~/Views/Reference/_ReferenceLayout.cshtml";
}

<div class="alert alert-warning">
    <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Выберите справочник.</span>
</div>