<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Охотоугодья сотрудника @ViewBag.StepValues</h4>
        </div>
        <div class="modal-body">
            <div id="employeeHuntingFarmsContainer">
                @Html.Action("PartialTableEmployeeHuntingFarms", "Reference", new { employeeId = Model })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Закрыть</button>
        </div>
    </div>
</div>
