<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Охотугодья животного</h4>
        </div>
        <div class="modal-body">
            <div id="collapseEditAnimalHuntingFarms" class="panel-collapse collapse" aria-expanded="false">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">Список охотугодий животного </h3>
                </div>
                <div class="col-xs-6 m-b-10">
                    <div class="text-right">
                        <button type="button" class="btn btn-inverse waves-effect waves-light btn-sm" id="huntingFarmAddBtn"> Добавить <i class="fa fa-plus m-l-5"></i></button>
                    </div>
                </div>
            </div>
            <div id="huntingFarmAnimalsContainer">
                @Html.Action("PartialTableAnimalHuntingFarms", "Reference", new { huntingFarmId = ViewBag.AnimalId })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Закрыть</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('button#huntingFarmAddBtn').on('click', function () {
        $(this).hide();
        $.ajax({
            type: 'POST',
            async: false,
            url: '@Url.Action("PartialAddAnimalHuntingFarms", "Reference")',
            data: { animalId: '@ViewBag.AnimalId' },
            success: function (data) {
                $('#collapseEditAnimalHuntingFarms').html(data);
            }
        });
        $('#collapseEditAnimalHuntingFarms').collapse('show');
    });
</script>