<style>
    @@media print {
        .printSelected > * {
            display: none;
        }

        .printSelected > .printSelection {
            display: block;
        }

        @@page {
            size: portrait;
            margin: 15mm 10mm 15mm 25mm;
        }

        #print-content {
            width: 165mm; /* ширина */
        }
    }

    .printSelection {
        display: none;
    }


    #print-content {
        font-family: Times New Roman;
        min-height: 290mm;
        position: relative;
        padding-bottom: 50px;
        width: 165mm;
    }
</style>

<style>
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 0cm;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
        margin: 0cm;
        margin-bottom: .0001pt;
        font-size: 8.0pt;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }
</style>
<div id="print-content">

    <div class=WordSection1>
        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <img height="55" src="@Url.Content("~/Content/img/docGebLogo.png")" />
            <br />
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    МИНИСТЕРСТВО
                    ПРИРОДНЫХ РЕСУРСОВ И<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    ЭКОЛОГИИ
                    РЕСПУБЛИКИ ДАГЕСТАН<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:justify;line-height:normal'>
            <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:justify;line-height:normal'>
            <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <div style='border:none;border-bottom:solid windowtext 1.5pt; padding:0cm 0cm 1.0pt 0cm'>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal;border:none;padding:0cm;'>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>367000, г. Махачкала, ул. <span class=SpellE>Абубакарова</span>, 73<span>
                    </span>т. (8-722) 51-72-53<o:p></o:p>
                </span>
            </p>

        </div>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>№ <u>040</u><span>
                    </span>«15» мая 2017<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'>Уведомление<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    о назначении времени и места
                    составления протокола<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>об административном правонарушении<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Магомедов Магомед Магомедович, 1977 года
                рождения, проживающему в с. Хунзах, <span class=SpellE>Хунзахского</span>
                района РД, в соответствии с п. 4 ст. КоАП РФ, Вы приглашены для составления
                протокола об административном правонарушении по ч. 1 ст. 20.25 КоАП в 14:00 25
                мая 2017 года по адресу: г. Махачкала, ул. <span class=SpellE>Абубакарова</span>
                73, Минприроды РД, отдел охраны объектов животного мира и водных биоресурсов, <span class=SpellE>каб</span>. 202.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>В случае неявки, на основании п. 4.1 ст.
                    28.2 КоАП РФ протокол будет составлен в Ваше отсутствие. <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><b><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><b><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><b><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                Тел. 51 72 53<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <i>
                <span style='font-size:9.0pt; line-height:115%;font-family:"Times New Roman",serif'>
                    Отметка о дате вручения (направления по
                    почте) определения: _________________________________<o:p></o:p>
                </span>
            </i>
        </p>


    </div>
</div>
