<style>
    @@media print {
        .printSelected > * {
            display: none;
        }

        .printSelected > .printSelection {
            display: block;
        }

        @@page {
            size: portrait;
            margin: 15mm 10mm 15mm 25mm;
        }

        #print-content {
            width: 165mm; /* ширина */
        }
    }

    .printSelection {
        display: none;
    }


    #print-content {
        font-family: Times New Roman;
        min-height: 290mm;
        position: relative;
        padding-bottom: 50px;
        width: 165mm;
    }
</style>

<style>
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 0cm;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
        margin: 0cm;
        margin-bottom: .0001pt;
        font-size: 8.0pt;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }
</style>
<div id="print-content">

    <div class=WordSection1>
        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <img height="55" src="@Url.Content("~/Content/img/docGebLogo.png")" />
            <br />
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'>
                    МИНИСТЕРСТВО
                    ПРИРОДНЫХ РЕСУРСОВ И<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'>
                    ЭКОЛОГИИ
                    РЕСПУБЛИКИ ДАГЕСТАН<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    Отдел охраны объектов животного
                    мира и водных биоресурсов<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <div style='border:none;border-bottom:solid windowtext 1.5pt; padding:0cm 0cm 1.0pt 0cm'>

            <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal;border:none;padding:0cm;'>
                <span style='font-size:9.0pt; font-family:"Times New Roman",serif'>
                    <span></span>367000, г. Махачкала, ул. <span class=SpellE>Абубакарова</span>, 73, e-mail: mprierd-info@mail.ru ф. (8722)67 12 40<span></span><span> </span>51 72 53
                </span>
    </p>

    </div>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal'><b><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span>№ 128 <span></span><span></span>«____» __________________
            2017г.<o:p></o:p>
        </span>
    </p>

    <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <b>
            <span style='font-family:"Times New Roman",serif'>
                <span>
                </span>Мировой суд<o:p></o:p>
            </span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:right'>
        <span class=SpellE>
            <b>
                <span style='font-family:"Times New Roman",serif'>Бабаюртовского</span>
            </b>
        </span><b>
            <span style='font-family:"Times New Roman",serif'>
                района<o:p></o:p>
            </span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:right;line-height:normal'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=right style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:right;line-height:normal'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center'>
        <b>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center'>
        <b>
            <span style='font-family:"Times New Roman",serif'>Материалы дела об<o:p></o:p></span>
        </b>
    </p>

    <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center'>
        <b>
            <span style='font-family:"Times New Roman",serif'>административном правонарушении<o:p></o:p></span>
        </b>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span>Руководствуясь п.1 ч.1 ст.22.1, ч.3
            ст.23.1, ч.1 ст. 29.5 КоАП РФ направляю Вам на рассмотрение материалы дела №
            128 от 06.03.2017г. об административном правонарушении, предусмотренном ч.1.2
            ст. 8.37 КоАП РФ, в отношении гражданина <span class=SpellE>Атагишиева</span> <span class=SpellE>Закира</span> <span class=SpellE>Шахсолтановича</span>, 08.07.1963
            года рождения, уроженца с. Бабаюрт <span class=SpellE>Бабаюртовского</span>
            района РД, проживающего по адресу: ул. <span class=SpellE>Быканова</span> д.13,
            с. Бабаюрт <span class=SpellE>Бабаюртовского</span> района РД.<o:p></o:p>
        </span>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span><o:p></o:p>
        </span>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span>О результатах рассмотрения просим
            сообщить на наш адрес.<o:p></o:p>
        </span>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span><o:p></o:p>
        </span>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
        <span style='font-family:"Times New Roman",serif'>
            <span></span>Приложение:<o:p></o:p>
        </span>
    </p>

    <p class=MsoListParagraphCxSpFirst style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;'>
        <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
            <span>
                1.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><![endif]><span style='font-family:"Times New Roman",serif'>
            Определение
            о передаче материалов от 06.03.2017.<o:p></o:p>
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;'>
        <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
            <span>
                2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
        </span><![endif]><span style='font-family:"Times New Roman",serif'>
            Оригинал протокола № 001953 от
            30.01.2017.<o:p></o:p>
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;'>
        <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
            <span>
                3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
        </span><![endif]><span style='font-family:"Times New Roman",serif'>Правила охоты.<o:p></o:p></span>
    </p>

    <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom: .0001pt; text-align:justify;text-indent:-18.0pt;'>
        <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
            <span>
                4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
        </span><![endif]><span style='font-family:"Times New Roman",serif'>Докладная от 16.02.2017.<o:p></o:p></span>
    </p>

    <p class=MsoListParagraphCxSpLast style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;'>
        <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
            <span>
                5.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><![endif]><span class=SpellE>
            <span style='font-family: "Times New Roman",serif'>Фототаблица</span>
        </span><span style='font-family: "Times New Roman",serif'>(3 фотоснимка).<o:p></o:p></span>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
        <b>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Начальник отдела <span></span><span></span><span></span>М.М. <span class=SpellE>Патхулаев</span><o:p></o:p>
            </span>
        </b>
    </p>

    <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt; text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

    </div>
</div>
