<style>
    @@media print {
        .printSelected > * {
            display: none;
        }

        .printSelected > .printSelection {
            display: block;
        }

        @@page {
            size: portrait;
            margin: 15mm 10mm 15mm 25mm;
        }

        #print-content {
            width: 165mm; /* ширина */
        }
    }

    .printSelection {
        display: none;
    }


    #print-content {
        font-family: Times New Roman;
        min-height: 290mm;
        position: relative;
        padding-bottom: 50px;
        width: 165mm;
    }
</style>

<style>
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 0cm;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
        margin: 0cm;
        margin-bottom: .0001pt;
        font-size: 8.0pt;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }
</style>
<div id="print-content">

    <div class=WordSection1>
        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <img height="55" src="@Url.Content("~/Content/img/docGebLogo.png")" />
            <br />
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    МИНИСТЕРСТВО
                    ПРИРОДНЫХ РЕСУРСОВ И<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    ЭКОЛОГИИ
                    РЕСПУБЛИКИ ДАГЕСТАН<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <div style='border:none;border-bottom:solid windowtext 1.5pt; padding:0cm 0cm 1.0pt 0cm'>

            <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal;border:none; padding:0cm;'>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>367000, г. Махачкала, ул.Абубакарова, 73 т. (8-722) 51-72-53
                </span>
            </p>

        </div>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>№ <u>225 </u><span></span><span></span>«_____» ___________
                    2017 г.<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>ПОСТАНОВЛЕНИЕ</span>
            </b><b><span style='font-family:"Times New Roman",serif'><o:p></o:p></span></b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>о прекращении производства по<o:p></o:p></span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    делу об административном
                    правонарушении<o:p></o:p>
                </span>
            </b>
        </p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>«25» октября 2017 г.<span>
                </span>г. Махачкала<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                <b>
                    <u>
                        Я,
                        начальник Управления охраны животного мира и ООПТ Ибрагимов Г.И.,
                    </u>
                </b>
                рассмотрев материалы дела от «30» сентября 2017 г. № 001265 об административном
                правонарушении, возбужденного в отношении <span class=SpellE>Гамидова</span> <span class=SpellE>Залбека</span> Магомедовича, 23.11.1973 года рождения,
                проживающего РД, г. Буйнакск, микрорайон «Дружба» д.16, кв. 8. по ч.1.2 ст. 8.37
                КоАП РФ на основании изложенного и руководствуясь п.1 ч.1 ст. 29.4 КоАП РФ,<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:center'>
            <b>
                <span style='font-family:"Times New Roman",serif'>УСТАНОВИЛ:<o:p></o:p></span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm; margin-bottom:.0001pt; text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>30.09.2017 года, в 01 часов 03 минут на
                территории <span class=SpellE>Шураозенского</span> охотхозяйства Буйнакского
                района РД, на <span class=SpellE>Гамидова</span> <span class=SpellE>Залбека</span>
                Магомедовича, был составлен протокол № 001265 от 30.09.2017 г. на незаконную
                охоту в ночное время <span class=GramE>со специальным оптическом прибором</span>
                (<span class=SpellE>тепловизором</span>).<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>При исследовании представленных
                административных материалов установлено, что 30.09.2017 года, в 01 часов 03
                минут <span class=SpellE>Гамидов</span> З.М. находился<span></span>автомашине «Нива» под номером А 205 КМ 2 на
                территории <span class=SpellE>Шураозенского</span> охотхозяйства с зачехленным
                и незаряженным оружием марки Сайга кал 7.62х39 № 15462789. Этот факт
                подтверждается видеоматериалом, представленным лицом, составившим протокол
                ведущим охотоведом Дирекция ООПТ и охраны животного мира Салаховым Русланом <span class=SpellE>Вагитдиновичем</span> и объяснениями самого <span class=SpellE>Гамидова</span>
                З.М.<span>  </span><o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Так как в соответствии с <b>
                    Постановлением Правительства РФ от
                    21.07.1998 № 814 (ред. от 06.05.2015) «О мерах по регулированию оборота гражданского
                    и служебного оружия и патронов к нему на территории РФ»
                </b> и <span class=SpellE>др</span>, принятыми нормативными актами в области оборота оружия
                на территории России, транспортировка оружия при соблюдении определенных
                условий (в зачехленном и разряженном состоянии, наличие специального разрешения
                на ношение и хранение оружия) является законным правом граждан и не
                противоречат действующему законодательству в области охоты и охраны животного
                мира.<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Было установлено наличие у <span class=SpellE>Гамидова</span> З.М. разрешений (лицензий) на отстрел кабана и
                волка. Отсутствуют факты, подтверждающие: <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:justify;text-indent:-18.0pt;'>
            <span style='font-family:"Times New Roman",serif'>
                запрещенную
                правилами охоты ходовую охоту на кабана в ночное время с использованием <span class=SpellE>тепловизора</span>;<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpLast style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;'>
            <![if !supportLists]><span style='font-family:"Times New Roman",serif;'>
                <span>
                    2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span style='font-family:"Times New Roman",serif'>
                <span></span>отказ <span class=SpellE>Гамидова</span> З.М.
                предъявить документы на законное требование охотоведа Салихова Р.В.<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Соответственно, в рассматриваемом
                административном деле отсутствует объективная сторона административного
                правонарушения, предусмотренного ст. 8.37 КоАП РФ.<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Лицо, в отношении которого ведется
                производство по делу об административном правонарушении, о дате, месте, времени
                рассмотрения дела об административном правонарушении был уведомлен надлежащим
                образом, а именно определением от 02 февраля 2017 года.<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Наличие ходатайств и отводов: не
                поступали.<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Исходя из вышеизложенного, с учетом обстоятельств,
                указанных в ст.26.1 КоАП РФ и руководствуясь ст. 22.1, 22.2, 23.26, 24.5, 28.9,
                29.9 КоАП РФ,<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center'>
            <b>
                <span style='font-family:"Times New Roman",serif'>ПОСТАНОВИЛ:<o:p></o:p></span>
            </b>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>прекратить производство по делу № 225 об
                административном правонарушении в отношении <span class=SpellE>Гамидова</span>
                З.М. (протокол № 001265 от 30.09.2017) в связи с отсутствием события
                административного правонарушения (ст. 24.5 КоАП РФ).<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>В соответствии со ст. 30.1-30.3 КоАП РФ
                постановление по делу об административном правонарушении может быть обжаловано
                вышестоящему должностному лицу или в судебном порядке в течение 10 суток со дня
                вручения или получения копии постановления. <o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-size:9.0pt;line-height: 115%;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-size:9.0pt;line-height: 115%;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                С постановлением
                ознакомлен<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                «____»<span></span>__________ 2017г. ______________<span>
                </span>__________________________________________<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-size:8.0pt;line-height: 115%;font-family:"Times New Roman",serif'>
                <span>
                </span>(подпись)<span>  </span><span></span>(инициалы,
                фамилия)<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                Начальник управления
                Ибрагимов Г.И. ____________<span>
                </span>«_____»<span>  </span>_____________________2017
                года<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-size:8.0pt;line-height: 115%;font-family:"Times New Roman",serif'>
                <span></span><span></span>(подпись)<span>
                </span>(дата)<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' align=center style='text-align:center'>
            <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <p class='MsoNormal' align=center style='text-align:center'>
            <span style='font-family:"Times New Roman",serif'>М.П.<o:p></o:p></span>
        </p>

        <p class='MsoNormal' style='text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                Копия
                постановления вручена лицу, в отношении которого оно вынесено (или его
                законному представителю):<o:p></o:p>
            </span>
        </p>

        <p class='MsoNormal' style='text-align:justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class='MsoNormal' style='text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                «_____»
                ___________ 2017 года<span>
                </span>_____________________ _________________________________<o:p></o:p>
            </span>
        </p>

    </div>
</div>
