<style>
    @@media print {
        .printSelected > * {
            display: none;
        }

        .printSelected > .printSelection {
            display: block;
        }

        @@page {
            size: portrait;
            margin: 15mm 10mm 15mm 25mm;
        }

        #print-content {
            width: 165mm; /* ширина */
        }
    }

    .printSelection {
        display: none;
    }


    #print-content {
        font-family: Times New Roman;
        min-height: 290mm;
        position: relative;
        padding-bottom: 50px;
        width: 165mm;
    }
</style>

<style>
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 0cm;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
        margin: 0cm;
        margin-bottom: .0001pt;
        font-size: 8.0pt;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        line-height: 115%;
        font-size: 11.0pt;
    }
</style>
<div id="print-content">
    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <img height="55" src="@Url.Content("~/Content/img/docGebLogo.png")" />
            <br />
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'>
                    МИНИСТЕРСТВО
                    ПРИРОДНЫХ РЕСУРСОВ И<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'>
                    ЭКОЛОГИИ
                    РЕСПУБЛИКИ ДАГЕСТАН<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    Отдел охраны объектов животного
                    мира и водных биоресурсов<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

        <div style='border:none;border-bottom:solid windowtext 1.5pt;padding:0cm 0cm 1.0pt 0cm'>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify; line-height:normal; border:none; padding:0cm;'>
                <span style='font-size:9.0pt;font-family:"Times New Roman",serif'>
                    <span></span>367000, г. Махачкала, ул. Абубакарова, 73, e-mail:mprierd-info@mail.ru ф. (8722)67 12 40 51 72 53
                </span>
            </p>

        </div>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height: normal'>
            <b>
                <span style='font-size:12.0pt; font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>ОПРЕДЕЛЕНИЕ<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    о
                    передаче протокола об административном правонарушении <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-size:12.0pt;font-family:"Times New Roman",serif'>
                    и
                    других материалов дела по подведомственности
                </span>
            </b><b><span style='font-family:"Times New Roman",serif'><o:p></o:p></span></b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
            <span style='font-family:"Times New Roman",serif'>
                «20» марта 2017 г. г. Махачкала
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Я, начальник отдела охраны объектов
                животного мира и водных биоресурсов, Пахтулаев Магомед Магомедович, при
                подготовке к рассмотрению дела об административном правонарушении <b><span> </span></b>в
                отношении гражданина Атагишиева Закира Шахсолтановича, 08.07.1963 года
                рождения, уроженца с. Бабаюрт Бабаюртовского района РД, о нарушении
                природоохранного законодательства и наличии в действиях признаков состава
                правонарушения, предусмотренного ч. 1.2 ст. 8.37 КоАП РФ (протокол №001953 от
                30.01.2017 года), руководствуясь ст. 23.26 КоАП РФ,<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center'>
            <b>
                <span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center'>
            <b>
                <span style='font-family:"Times New Roman",serif'>УСТАНОВИЛ:<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt; text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>30 января 2017 года в 15 часов 00 минут,
                Атагишиев Закир Шахсолтанович, на территории Тамазатюбинского охотхозяйства
                Бабаюртовского района РД, производил незаконную охоту с использованием
                огнестрельного оружия Тоз 34ЕР, кал 16, № 12600Л, с нарушением установленных
                правилами охоты сроков охоты. Были добыты утки кряквы (две особи).<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Атагишиев З.Ш. с места правонарушения
                скрылся на автомашине Нива В 299 СЕ 05, проигнорировав требование остановиться
                и предъявить документы охотинспектора Абдулжалилова М.Р.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Обстоятельства правонарушения
                подтверждаются протоколом № 001953 от 30.01.2017г.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Согласно <b>
                    п. 41.2 «Правил охоты», утвержденных приказом Министерства природных
                    ресурсов и экологии РФ от 16 ноября 2010 года № 512 «Об утверждении правил
                    охоты»
                </b> (далее – Правила охоты) сроки охоты на пернатую дичь, в том числе
                водоплавающую (утки) устанавливаются в период с третьей субботы августа по 31
                декабря. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>В соответствии с <b>
                    ч.4 ст.23 ФЗ «Об охоте и сохранении охотничьих ресурсов и о внесении
                    изменений в отдельные законодательные акты РФ» от 24.07.2009 г. № 209-ФЗ
                </b>
                (далее – Закон об охоте) на основе правил охоты высшее должностное лицо субъекта
                РФ (руководитель высшего исполнительного органа государственной власти субъекта
                РФ) определяет виды разрешенной охоты и параметры осуществления охоты в
                соответствующих охотничьих угодьях. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Пунктом 3 Параметров осуществления охоты в
                охотничьих угодьях РД, за исключением особо охраняемых природных территорий
                федерального значения, утвержденных Указом Президента РД от 28 февраля 2013
                года № 67, сроки охоты на пернатую дичь устанавливаются с 16 августа по 31
                декабря, весенняя охота осуществляется на селезней утиных пород с 1 марта по 10
                марта. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Согласно п.54, п.54.6 Правил охоты
                запрещается охота на пушного зверя в период весенней охоты.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>В соответствии с ч.3 ст. 23 Закона об
                охоте, правила охоты обязательны для исполнения физическими и юридическими
                лицами, осуществляющими виды деятельности в сфере охотничьего хозяйства. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Гражданин Атагишиев З.Ш. на территории
                Тамазатюбинского охотхозяйства Бабаюртовского района РД произвел незаконную
                охоту на водоплавающую птицу вне сроков охоты на данный вид, то есть нарушил
                установленные правилами охоты сроки охоты. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Действия Атагишиева З.Ш. являются
                нарушением п. 54.5 «Правил охоты», утвержденных приказом Министерства природных
                ресурсов и экологии РФ от 16 ноября 2010 года № 512 «Об утверждении правил
                охоты» и содержат признаки состава административного правонарушения,
                ответственность за которое предусмотрена ч. 1.2 ст. 8.37 КоАП РФ.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Таким образом, руководствуясь ч. 1 ст.
                23.1, п. 5 ч.1 ст. 29.4, ст. 29.5 КоАП РФ,<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt; text-align:center'>
            <b>
                <span style='font-family:"Times New Roman",serif'>ОПРЕДЕЛИЛ:<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-family:"Times New Roman",serif'>
                <span></span>Передать дело об административном
                правонарушении № 128 от 30.01.2017г. в отношении гражданина Атагишиева З.Ш.
                08.07.1963 года рождения, уроженца села Бабаюрт, Бабаюртовского района РД,
                проживающего по адресу: ул. Быканова д.13, село Бабаюрт, Бабаюртовского района РД,
                на рассмотрение по подведомственности – в Мировой суд Дербентского района РД. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'><span style='font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify;line-height:normal'>
            <b>
                <span style='font-family:"Times New Roman",serif'>
                    <span></span>Начальник отдела<span>
                    </span><span>                        </span>М.М. Патхулаев<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align: justify'>
            <span style='font-size:9.0pt;line-height: 115%;font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span>
        </p>

    </div>
</div>
