@model WebAIS.Models.KcrModel.serviceSFType

<div class="row justify-content-end">
    <div class="col-lg-11 accardion-milti-castoner">
        <div class="accardion-milti-castoner-сontrol">
            <button type="button" class="btn accardion-milti-castoner-btn-show" data-accardion onclick="showAdccardion(this)">
                Сервис СМЭВ
            </button>
            <i class="fa fa-chevron-left accardion-chevron" aria-hidden="true"></i>
        </div>
        <div class="accardion-content-milti-castoner" data-accardion-content style="display: none">
            <fieldset>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="form-control">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>