<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Животные к виду охоты</h4>
        </div>
        <div class="modal-body">
            <div id="collapseEditHuntingTypeAnimals" class="panel-collapse collapse" aria-expanded="false">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">Список животных</h3>
                </div>
                <div class="col-xs-6 m-b-10">
                    <div class="text-right">
                        <button type="button" class="btn btn-inverse waves-effect waves-light btn-sm" id="animalAddBtn"> Добавить <i class="fa fa-plus m-l-5"></i></button>
                    </div>
                </div>
            </div>
            <div id="huntingTypeAnimalsContainer">
                @Html.Action("PartialTableHuntingTypeAnimals", "Reference", new { huntingTypeId = ViewBag.HuntingTypeId })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Закрыть</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('button#animalAddBtn').on('click', function () {
        $(this).hide();
        $.ajax({
            type: 'POST',
            async: false,
            url: '@Url.Action("PartialAddHuntingTypeAnimal", "Reference")',
            data: { huntingTypeId: '@ViewBag.HuntingTypeId' },
            success: function (data) {
                $('#collapseEditHuntingTypeAnimals').html(data);
            }
        });
        $('#collapseEditHuntingTypeAnimals').collapse('show');
    });
</script>