@{
    ViewBag.Title = "Количество нарушений по охотугодьям";

}

@Html.MvcSiteMap().SiteMapPath()


<div id="filterReportCountViolationsHuntingFarmContainer">
    @Html.Action("PartialFilterCountViolationsHuntingFarm")
</div>

<div id="reportCountViolationsHuntingFarm">
    <div class="alert alert-warning">
        <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Воспользуйтесь фильтром.</span>
    </div>
</div>

