@model HuntControl.Domain.Concrete.spr_services_sub_smev_request_join
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Добавление СМЭВ запроса</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SubmitSubServiceSmevRequestSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "SmevPillContainer", OnSuccess = "successAdd();$('#myModal').modal('hide');" }, new { @id = "AddSubServiceSmevRequestForm", @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.spr_smev_request_id, ViewBag.SmevRequests as SelectList, "Выберите смэв запрос", new Dictionary<string, object> { { "class", "selectpicker" }, { "data-style", "btn-white btn-sm" } })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="AddSubServiceSmevRequestForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
