@{
    ViewBag.Title = "История изменений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row m-t-15 m-b-15">
    <div class="col-sm-12">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>


<div id="changeLogsContainer">
    @Html.Action("PartialTableChangeLogs", "System")
</div>
