@model HuntControl.Domain.Concrete.spr_services_sub_file_folder
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Добавление документа к услуге</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SubmitSubServiceFolderSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "foldersTableContainer", OnSuccess = "successAdd();$('#myModal').modal('hide');" }, new { @id = "AddSubServiceFolderForm", @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.folder_name, new { @class = "font-13" })
                                @Html.TextBoxFor(model => model.folder_name, new { @class = "form-control", @placeholder = "Наименование" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="AddSubServiceFolderForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
