@model HuntControl.Domain.Concrete.spr_animal_group
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Изменение данных группы</h4>
        </div>
        <div class="modal-body">

            @using (Ajax.BeginForm("SubmitAnimalGroupSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "animalGroupsPillContainer", OnSuccess = "$('#myModal').modal('hide'); successEdit();" }, new { @id = "EditAnimalGroupForm", @class = "form-horizontal" }))
            {
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.identity_, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.identity_, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.identity_) })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.group_name, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.group_name, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.group_name) })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="EditAnimalGroupForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
