@{
    ViewBag.Title = "Реестр выданных охотбилетов";

}

@Html.MvcSiteMap().SiteMapPath()




<div id="filterReportHuntingLicIssuedReestrContainer">
    @Html.Action("PartialFilterReportHuntingLicIssuedReestr")
</div>



<div id="reportHuntingLicIssuedReestr">
    <div class="alert alert-warning">
        <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Воспользуйтесь фильтром.</span>
    </div>
</div>

