@model WebAIS.StoreProcedure.SModel.case_customer_root_get_smev

<div class="modal-card-head wrap-flex">
    <nav class="breadcrumb m-b-0">
        <div class="container">
            <div class="row-flex">
                <div class="col-flex"><div class="breadcrumb-item complete">Запрос</div></div>
                <div class="col-flex"><div class="breadcrumb-item active">Данные</div></div>
                <div class="col-flex"><div class="breadcrumb-item">Ответ</div></div>
            </div>
        </div>
    </nav>
</div>
<div class="modal-card-body">
    <div class="dash" data-tabs="">
        <div class="dash-content">
            <div class="row-flex">
                <div class="col-flex is-12">
                    <div class="form-content smev-request" style="display: block;">
                        <form>
                            <input name="data_services_id" type="hidden" class="data_services_id" />
                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="LastName">Фамилия</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <input class="input" data-val="true" data-val-length="" data-val-length-max="100" data-validation="required" data-validation-allowing="-" id="fio_LastName" name="fio.LastName" placeholder="Фамилия" type="text" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="FirstName">Имя</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <input class="input" data-val="true" data-val-length="" data-val-length-max="100" data-validation="required" data-validation-allowing="-" id="fio_FirstName" name="fio.FirstName" placeholder="Имя" type="text" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="SecondName">Отчество</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <input class="input" data-val="true" data-val-length="" data-validation-allowing="-" id="fio_SecondName" name="fio.SecondName" placeholder="Отчество" type="text" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="BirthDate">Дата рождения</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control has-addons">
                                        <input class="input" type="text" name="BirthDate" id="BirthDate" value="" placeholder="__.__.____" data-inputmask="'mask': '99.99.9999'"
                                               data-validation="date" data-validation-format="dd.mm.yyyy"
                                               data-input-datetimepicker="" data-input-datetimepicker-options='{"timepicker":false,"format":"d.m.Y","scrollMonth":false,"scrollInput":false}' />
                                        <span class="icon" style="top:0px;"><i class="ion-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="inn">Тип документа</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <select class="select" name="identityTypeId" style="display: none;">
                                            <option value="2">Свидетельство о рождении</option>
                                            <option value="1">Иное</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="inn">Серия</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <input class="input" data-val="true" data-val-length="" data-validation="required" data-val-length-max="100" data-validation-allowing="-" id="identitySerial" name="identitySerial" placeholder="Серия" type="text" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-flex is-offset-2 is-3">
                                    <label for="inn">Номер</label>
                                </div>
                                <div class="col-flex is-5">
                                    <div class="form-control">
                                        <input class="input" data-val="true" data-val-length="" data-validation="required" data-val-length-max="100" data-validation-allowing="-" id="identityNumber" name="identityNumber" placeholder="Номер" type="text" value="" data-inputmask="'mask': '999999'">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-content smev-response" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-card-foot">
    <div class="content-footer__action row-flex-right">
        <button type="button" class="btn btn-danger attach-smev-response" style="display: none;">
            <span>Прикрепить к услуге</span>
            <span class="icon">
                <i class="ion ion-ios-upload-outline"></i>
            </span>
        </button>
        <button type="button" class="btn btn-danger is-form-send smev-send-data" data-url-smev="Smev_RequestDouCheckDeclaration">
            <span>Далее</span>
            <span class="icon">
                <i class="ion ion-ios-arrow-forward"></i>
            </span>
        </button>
    </div>
</div>

<script>
    flag = true;
    $(document).ready(function () {
        getCustomer($('._glCaseId').val());
    });
    function getCustomer(id) {
        $.ajax({
            url: '/Smev/jsonGetCustomer',
            type: 'POST',
            data: { id: id },
            success: function (items) {
                if (items.child != null) {
                    $('#fio_LastName').val(items.child.customer_fio.split(' ')[0]);
                    $('#fio_FirstName').val(items.child.customer_fio.split(' ')[1]);
                    $('#fio_SecondName').val(items.child.customer_fio.split(' ')[2]);
                    $('#BirthDate').val(moment(items.child.document_birth_date).format("DD.MM.YYYY"));
                    $('#identitySerial').val(items.child.document_serial);
                    $('#identityNumber').val(items.child.document_number);
                }
                else {
                    Lobibox.notify('error', {
                        size: 'mini',
                        position: 'top right',
                        msg: 'Данные ребенка не найдены',
                        soundPath: '../Content/js/components/noty/sounds/',
                        sound: 'error_sound'
                    });
                }
            }
        });
    };

    if (typeof ('#modal_smev_card_content') != 'undefined') {
        $('input[data-inputmask]').inputmask();
    };

    /* ловушка полей ввода даты и времени */
    if (typeof ('#modal_smev_card_content') != 'undefined') {
        $.datetimepicker.setLocale('ru');
        $.each($('[data-input-datetimepicker]'), function () {
            var $this = $(this);
            var options = $this.data('input-datetimepicker-options');
            var avalible_time = $this.data('input-datetimepicker-time');

            if (typeof avalible_time != 'undefined') {
                options['allowTimes'] = avalible_time.split(',');
            }

            $this.datetimepicker(options);
        });
    };

    // Nice select init
    if (typeof ('#modal_smev_card_content') != 'undefined') {
        $.validate({
            lang: 'ru',
            modules: 'date, security',
            borderColorOnError: '#e44d32',
            dateFormat: 'dd-mm-yyyy'
        });
        $('#modal_smev_card_content select').niceSelect();
    };

    $('.smev-send-data').on('click', function (e) {
        if ($('#modal_smev_card_content').find('form').isValid() && flag) {
            event.stopPropagation();
            var btn = $(this);
            var url = $(this).data('urlSmev');
            smevSendData(url, btn);
        }
    });
</script>