@model HuntControl.Domain.Concrete.spr_employees_role_join
<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Добавление роли</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SubmitEmployeeRoleSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "employeeRolesContainer", OnSuccess = "$('#secondaryModal').modal('hide');" }, new { @id = "AddEmployeeRoleForm", @class = "form-horizontal" }))
            {
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label class="col-md-4 control-label text-right">Роль</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.spr_employees_role_id, ViewBag.EmployeeRoles as SelectList, new Dictionary<string, object> { { "class", "selectpicker" }, { "data-style", "btn-white btn-sm" }})
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="AddEmployeeRoleForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
